/*
 * Die Idee für dieses System stammt aus Vuetify
 */
.container {
  padding: 0 12px;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;

  @media screen and (min-width: 600px) {
    max-width: 900px;
  }

  @media screen and (min-width: 960px) {
    max-width: 1100px;
  }

  @media screen and (min-width: 1240px) {
    max-width: 1100px;
  }

  .row {
    width: 100%;
    margin: 0 -12px;
    display: flex;
    flex-wrap: wrap;

    .col {
      padding: 12px;
      box-sizing: border-box;
    }
  }
}