@import 'variables.scss';

.image {
  width: 100%;
  background-position: center;
  background-size: cover;
}
.image::after {
  content: '';
  display: block;
  padding-top: 100%;
  width: 100%;
}
.image div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: radial-gradient(rgba($main-color, 0.25), #ffffff);
}


.name {
  position: absolute;
  top: -8px;
  right: -12px;
  transform: rotate(-6deg);
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12) !important;
}


.description {
  position: absolute;
  bottom: 8px;
  left: 8px;
  // Use on desktop  transform: translateY(100%);
  transition: transform 0.3s;
  width: 66.666%;

  font-weight: 500;
  color: $main-color;
  line-height: 30px;
}
.description > span {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 4px 8px;
  box-decoration-break: clone;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12) !important;
}


.price {
  position: absolute;
  bottom: -8px;
  right: -12px;
  transform: rotate(-4deg);
  cursor: pointer;
  user-select: none;
}
.price .highlighted-text {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12) !important;
}

.price .background {
  transition: transform .4s, background-color .8s;
  background-color: rgba(243, 228, 127, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.duck.clicked .price .background {
  transform: scale(1.5);
  background-color: rgba(243, 228, 127, 0.0);
}


.highlighted-text {
  font-size: 32px;
  font-weight: 600;
  color: #ffffff;
  line-height: 44px;
}
.highlighted-text > span {
  background-color: $main-color;
  padding: 4px 8px;
  box-decoration-break: clone;
}
.highlighted-text > span .highlight {
  font-weight: 700;
}