html {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden !important;
}
body .header {
  position: relative;
  margin-bottom: 12px;
}
body .header .background {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 550px;
  position: relative;
}
body .header .background div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 0.3s;
  background-position: center;
}
body .header .background svg {
  position: absolute;
  z-index: 100;
  bottom: -1px;
  height: 5px;
  width: 100vw;
}
body .header .text {
  font-size: 32px;
  font-weight: 500;
  color: #f3e47f;
  position: absolute;
  bottom: 16px;
  line-height: 52px;
  text-align: right;
  z-index: 100;
}
body .header .text > span {
  background-color: #ffffff;
  padding: 4px 8px;
  box-decoration-break: clone;
}
body .header .text > span .text-highlight {
  font-weight: 700;
}
body .highlighted-text {
  font-size: 32px;
  font-weight: 600;
  color: #ffffff;
  line-height: 52px;
}
body .highlighted-text > span {
  background-color: #f3e47f;
  padding: 4px 8px;
  box-decoration-break: clone;
}
body .highlighted-text > span .highlight {
  font-weight: 700;
}
body .bordered {
  border: 8px dashed #f3e47f;
  padding: 0 12px 12px;
  box-sizing: border-box;
}
body .title {
  font-size: 32px;
  font-weight: 600;
  color: #f3e47f;
  line-height: 52px;
}
body input[type=submit] {
  background-color: #f3e47f;
  padding: 1px 9px;
  font-size: 22px;
  font-weight: 600;
  color: #ffffff;
  line-height: 42px;
  cursor: pointer;
  transition: all 0.3s;
  border: 3px solid #f3e47f;
}
body input[type=submit]:hover {
  background-color: white;
  color: #f3e47f;
}
body input[type=text],
body input[type=password] {
  border: 3px solid #f3e47f;
  width: 100%;
  padding: 4px;
  box-sizing: border-box;
  margin-bottom: 8px;
}
body .duck-container .duck {
  position: relative;
  width: 300px;
  margin: 24px 8px 4px 4px;
  border: 8px dashed #f3e47f;
}
body .duck-container .duck:nth-child(2n) {
  align-self: flex-end;
}
body .duck-container .duck:nth-child(2n) .name {
  left: -12px;
}
body .duck-container .duck:nth-child(2n) .description {
  text-align: right;
  right: 8px;
  left: unset;
}
body .duck-container .duck:hover .description {
  transform: translateY(-100%);
}
body .cart {
  position: fixed;
  bottom: 12px;
  right: 12px;
  z-index: 101;
}
body .cart .button {
  color: #ffffff;
  background-color: #f3e47f;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  float: right;
  width: 24px;
  height: 24px;
  cursor: pointer;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
}
body .cart .button img {
  width: 24px;
  height: 20px;
}
body .cart .popup {
  position: fixed;
  width: 350px;
  height: 400px;
  right: 24px;
  bottom: 24px;
  padding: 12px;
  background-color: white;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12) !important;
  box-sizing: border-box;
  z-index: -1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: end;
}
body .cart .popup .border {
  position: absolute;
  border: 8px dashed #f3e47f;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 358px;
  height: 408px;
}
body .cart .popup .items {
  position: absolute;
  top: 16px;
  left: 16px;
  right: 16px;
  bottom: 74px;
  overflow-y: scroll;
  z-index: 10;
}
body .cart .popup .name {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.15px;
}
body .cart .popup .price {
  font-size: 10px;
  font-weight: normal;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
body .cart .popup .priceTotal {
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0.5px;
}
body .cart .popup .checkout {
  z-index: 999;
  position: relative;
  cursor: pointer;
}
body .register-row .col {
  width: 100%;
}
@media screen and (min-width: 960px) {
  body .register-row .col {
    width: 50%;
  }
}
body .footer {
  background-color: #f3e47f;
  color: white;
  font-size: 18px;
  font-weight: 500;
}
body .footer a {
  color: white;
}
body svg {
  fill: #f3e47f;
  stroke: #f3e47f;
}

.mb-1 {
  margin-bottom: 4px !important;
}

.mb-2 {
  margin-bottom: 8px !important;
}

.mb-3 {
  margin-bottom: 12px !important;
}

.mb-4 {
  margin-bottom: 16px !important;
}

.mb-5 {
  margin-bottom: 20px !important;
}

.mb-6 {
  margin-bottom: 24px !important;
}

.mb-7 {
  margin-bottom: 28px !important;
}

.mb-8 {
  margin-bottom: 32px !important;
}

/*# sourceMappingURL=style.css.map */
